<div class="row white-bg">
  <br/>
  <div class="large-8 columns">
    <div class="div_interno">
      <h5>Nuovi colori!</h5>
      <div class="text-center">
        <img src='/images/basic-azzurro.jpg'></img>
        <img src='/images/basic-porpora.jpg'></img>
        <img src='/images/basic-viola.jpg'></img>
        <br/>
        <p class="round alert label">€ 2,18</p>
        <small class="subheader">acquisto minimo 12 pz.</small>
      </div>
    </div>
  </div>
  <div class="large-4 columns">
    <div id="volantino" class="panel text-center">
      <h5>OFFERTE DEL MESE</h5>
      <p>
      <a href="/pdfs/ShoppingBag_Marzo13.pdf">
        <img src='/images/ShoppingBag_Marzo13.png'></img>
        <br/>
        Download (2.6MB)
      </a>
      </p>
    </div>
  </div>
</div>
<div class="row white-bg">
  <br/>
  <br/>
  <br/>
</div>
<div class="row white-bg">
  <div class="large-4 columns text-center">
    <h5>Carta A4</h5>
    <img src='/images/carta.jpg'></img>
    <br/>
    <br/>
    <p class="round alert label">€ 3,00</p>
    <small class="subheader">acquisto minimo 5 risme</small>
  </div>
  <div class="large-4 columns text-center">
    <h5>Flash USB 3.0 16GB</h5>
    <img src='/images/flashUSB3_small.jpg'></img>
    <br/>
    <br/>
    <p class="round alert label">€ 19,40</p>
  </div>
  <div class="large-4 columns text-center">
    <h5>COPISTERIA<br/>DIGITALE<br/>GRANDI FORMATI</h5>
  </div>
</div>
<div class="row white-bg text-left">
  <br/>
  <br/>
  <small>&nbsp;I prezzi indicati in questa pagina sono da ritenersi IVA inclusa</small>
</div>
<div class="row gray-bg">
  <div class="large-6 columns">
    <div id="details">
      <ul class="vcard">
        <li class="fn">Stano s.a.s. di Stano Rita &amp; C.</li>
        <li class="street-address">Via Giovanni Falcone, pal A</li>
        <li class="locality">Manduria (TA)</li>
        <li class="phone">Tel./Fax 099/9711333</li>
        <li class="email"><a href="#">info@stanosas.it</a></li>
      </ul>
      <br/>
      <ul class="vcard">
        <li class="fn">ORARIO</li>
        <li class="orari">8:30 - 13:00</li>
        <li class="orari">16:30 - 20:00</li>
        <li class="orari">Sabato 8:30 - 13:00</li>
      </ul>
    </div>
  </div>
  <div class="large-6 columns">
    <div id="details" class="text-right">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>
