<h1>Your Cart</h1>

<% if @cart.empty? %>
    <p>Your Cart is empty.</p>
<% end %>

<% total = 0 %>
	
<table class="cart">
    <tr>
        <td class="legend">Item</td>
        <td class="legend">Price</td>
        <td class="legend">Qty</td>
        <td class="legend">Total</td>
    </tr>
	
<% @cart.each do | id, quantity | %>
    <% item = Project.find_by_id(id) %>
    <tr>
        <td class="title"><%= item.name %></td>
        <td class="price"></td>
        <td class="quantity"><%= quantity %></td>
        <td class="price"></td>
    </tr>
<% end %>

    <tr>
        <td colspan="4">
            <div class="total">Total:</div>
        </td>
        <td>
        </td>
    </tr>
</table>
