<div class="user_orders">
   <table class="orders">
      <tr>
        <td class="legend">n.</td>
        <td class="legend"></td>
        <td class="legend"><%=t :amount %></td>
      </tr>
      <% @orders_by_user.each do |order| %>
        <tr>
          <td class="numero"><%= link_to order.id, order_path(order) %></td>
          <td class="data"><%= order.created_at.strftime("%d %b %y") %></td>
          <td class="importo"><%= number_to_currency(order.line_items.sum(:price), :unit => "€") %></td>
        </tr>
      <% end %>
    </table>
</div>

