<div class="archives">
    <h2>Prossimi progetti</h2>

    <% @project_institutions.each do |institution, projects| %>
    <h3><%=h institution.name %></h3>
    <ul>
        <% projects.each do |project| %>
        <li><%=h link_to project.name, project_path(project) %></li>
        <% end %>
    </ul>
    <% end %>
</div>

