/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  
}

#wrap {
  width: 900px;
  margin: 0 auto;
  background-color: white;
}

#user_nav {
  background-color: black;
  color: white;
  padding: 5px;
}

#user_nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#logo {
  float: left;
}

#user_management {
  float: right;
}

#right_dashboard_column {
  width: 50%;
  float:left;
}

#left_dashboard_column {
  width: 50%;
  float: right;
}

#footer {
  clear: both;
  background: black;
  color: white;
  padding: 5px;
}

div.div_interno {
  padding: 5px;
}
