/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  margin: 0; /* for the footer to work */
}

body {
  background-color: white;
}

html, body {
  height: 100%;
}

/* container */

#container {
  float: relative;
  width: 900px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

/* user navigation header */

#user_nav {
  background-color: black;
  color: white;
  padding: 5px;
  height: 3em;
  margin: 0 auto;
}

#user_nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#logo {
  float: left;
}

#user_management {
  float: right;
}

/* footer */

#footer {
  background: black;
  width: 900px;
  color: white;
  position: relative;
  margin: 0 auto;
}

#footer, #push {
  height: 100px; /* .push must be the same height as .footer */
}

div.div_interno {
  padding: 5px;
}

