// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo_bar {
  text-align: center;
}

#right_splashpage_column {
  width: 50%;
  float:right;
}

#left_splashpage_column {
  width: 50%;
  float: left;
  text-align: right;
}
