// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.white-bg {
  background-color: #fff;
}

div.gray-bg {
  background-color: #333333;
}

div.centered {
  text-align: center;
}

div.righted {
  text-align: right;
}

h5, h6 {
  color: SteelBlue;
  text-shadow: rgba(175, 238, 238, 0.5) 0px 1px 0px;
}
