<!DOCTYPE html>
<html>
<head>
  <title>Stano s.a.s. Buffetti Copisteria</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <div id="logo_bar">
	  <p>Stano Copisteria</p>
  </div>
  
  <%= yield %>
  
  <div id="push"></div>
</div>

<div id="footer">
  <p>Stano S.a.s. di Stano Rita &amp; C.</p>
</div>

</body>
</html>
